@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.body{
    background-color: white;
    color: black;
}
.container{
    width: 500px;
}

.nav2{
    text-align: center;
    margin: 0 200px;
}

.link1{
    width: 500px;
}

.head1{
    margin-right: 200px;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 900;
    color: black;
    width: 200px;
}

.a1{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-right: 30px;
    padding-bottom: 10px;
}


.b1{
    background-color: rgb(220, 84, 84);
    color: white;
    border: none;
    padding: 10px 40px;  
}
.b1:hover{
    background-color: rgb(3, 19, 99);
}

.z1{
    background-color: #fff000;
}