.body{
    background-color: #fff;
    margin: 0;
}

.top{
    color: #fff;
    background-color: #212934;
}
.mm li a{
    text-decoration: none;
    color: white;
}
.mm li ion-icon{
    padding-top: 12px;
    text-decoration: none;
    color: white;
}
.a2 li ion-icon{
    padding-top: 8px;
    text-decoration: none;
    color: white;
}

.a1{
    display: flex;
    justify-content: space-between;
}
.a2 li{
    padding-top: 5px;
    padding-left: 15px;
     
}

.div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.div h1{
    color: rgb(16, 191, 147);
}

.a3{
    height: 650px;
    width: auto;
    background-color: rgb(248, 248, 248);
}

.a3 img{
    height: 500px;
    width: 500px;
    
}

.b1{
    color: green;
}

.a4{
    background-color: rgb(248, 248, 248);
}
.a6 , .a7{
    text-align: center;
}

.i1{
    border-radius: 50%;
    height: 250px;
    width: fit-content;    
}
.c3
{
    background-color: #e9eef5;
}

.c4{
    margin: 0 1px;
    background-color: #e9eef5;
}

.c4 img{
    height: 300px;
    width: 350px;
}

.c5{
    background-image: url("images/im1.jpg");
    background-size: cover;
    height: 300px;
}

.c5 a img{
    width: 100%; 
    height: 100%;
}

.c6 a img{
    width: 100%; 
    height: 100%;
}

.c7 a img{
    width: 100%; 
    height: 100%;
}


.c6{
    background-image: url("images/im2.jpg");
    background-size: cover;
    height: 300px;
}


.c7{
    background-image: url("images/im3.jpg");
    background-size: cover;
    height: 300px;
}

.list1{
    padding-top: 15px;
    margin-left: -30px;
    list-style-type: none;
}

.kk{
    color: gold;
}

.gg{
    width: 100%;
}

.gg img{
    width: 100%;
}

.b8{
    background-color: #212934;
}

.b9 h1{
    color: rgb(16, 191, 147);
    text-decoration: none;
}
.b10 h1{
    color: white;
    text-decoration: none;
}

.b9 a, .b10 a{
    text-decoration: none;
    color: #fff;
}

.o0{
    color: white;
}


.b9 a:hover, .b10 a:hover{
    text-decoration: none;
    color: rgb(16, 191, 147);
}


.g19 ion-icon{
    color: #fff;
    padding: 0 15px;
    font-size: 2em;
    border: .2px solid grey;
    border-radius: 50%;
}

.g19 ion-icon:hover{
    background-color: white;
    color: #212934;
}
.b33{
    text-align: center;
    background-color: #212934;
    color: aliceblue;
}